body {
  background-color: #222;
  color: #ddd;
  font-family: sans-serif;
}

header h1 {
  text-align: center;
}

header p {
  text-align: center;
}

table td {
  border: 1px solid #ddd;
}

textarea {
  appearance: none;
  background-color: #222;
  border: 1px solid #ddd;
  box-sizing: border-box;
  color: #ddd;
  height: 20em;
  width: 100%;
}
